@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Ms+Madi&family=Pacifico&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #eef0f1;
  --color-text: #08090a;
  --color-blue: #3b49df;
  --color-red: #df3b3b;
  --color-green: #3bdf72;
  --color-gray: #b5bdc4;
  --color-fill-base-profile-primary: rgb(34, 34, 34);
  --color-text-base-profile-primary: rgb(229, 231, 235);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Dancing Script, Ms Madi, Pacifico, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

html {
  scroll-behavior: smooth;
  max-width: 100vw;
  overflow-x: hidden;
}

.font-OpenSans{
  font-family:  Ms Madi, Pacifico, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}




/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: turquoise;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}


/*404 Page*/
.notfound-container {
  height: 100vh;
  position: relative;
}

.notfound-container .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

::selection {
  background-color: transparent !important;
  color: turquoise !important;
}

.bg-skin-baseProfilePrimary {
  background-color: var(--color-fill-base-profile-primary);
}
.text-skin-baseProfilePrimary {
  color: var(--color-text-base-profile-primary);
}

.bg-skin-baseProfileSecondary{
  background-color: #333333;
}
.text-skin-baseProfileSecondary {
  color: rgb(255, 255, 255)
}

.aspect-h-1 {
  --tw-aspect-h: 1;
}

.aspect-w-2 {
  position: relative;
  padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  --tw-aspect-w: 2;
}

.aspect-w-4 {
  position: relative;
  padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  --tw-aspect-h: 800px
  --tw-aspect-w: 4;
}

.fade-in-animation {
  animation: fadeIn 2s;
}

.hidden{
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@layer components {
  .card-container {
    @apply max-w-[800px] mx-auto;
  }

  .txt-hover{
    @apply hover:text-green-var transition-colors duration-300
  }
}


